<div class="header">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
          <h1 class="logo"><a routerLink="/"><span>Flowerpower</span></a></h1>
        </div>
      <div class="col-xs-12 col-sm-8">
        <nav class="navbar navbar-default navbar-xs">
          <div class="navbar-header visible-xs">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Fowerpower</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li data-active-if="Home">
                <a routerLink="/"><span>Home</span></a>
              </li>
              <li data-active-if="Products">
                <a routerLinkActive="active-link" routerLink="/products">Producten</a>
              </li>
              <li data-active-if="Adminpanel">
                <a *ngIf="isAdmin" routerLinkActive="active-link" routerLink="/adminpanel">Adminpanel</a>
              </li>
              <li data-active-if="Login">
                <a *ngIf="!isAuthenticated" routerLinkActive="active-link" routerLink="/login">Login</a>
              </li>
              <li data-active-if="Winkelmandje">
                <a *ngIf="isAuthenticated" routerLinkActive="active-link" routerLink="/shoppingcart">Winkelmand</a>
              </li>
              <li data-active-if="Logout">
                <a *ngIf="isAuthenticated" (click)="logout()" routerLinkActive="active-link" routerLink="/login">Logout</a>
              </li>
              <li data-active-if="Signup">
                <a *ngIf="!isAuthenticated" routerLinkActive="active-link" routerLink="/signup">Registreren</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
