/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.margin-top-bottom {
  margin-top: 30px;
  margin-bottom: 30px;
}
.login-button,
.registration-button{
  margin-top: 30px;
  width: 200px;
}
form.form-login label,
form.form-registration label{
  margin-top: 20px;
}
p.error-message-login,
p.error-message-register{
  margin-top: 30px;
  color: red;
  font-weight: bold;
  font-size: 15px;
}
@media (max-width:767px) {
  .login-button,
  .registration-button{
    width: 100%;
  }
}
