<div class="col-xs-12">
  <div class="register-form">
      <h1 class="h1-registreren">Registreren</h1>
      <form class="form-registration" [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
          <label>Naam</label>
          <input  class="form-control"  placeholder="Naam" formControlName="name">

          <label>Email</label>
          <input  class="form-control" placeholder="Email" formControlName="email">

          <label>Postcode</label>
          <input  class="form-control" placeholder="Postcode" formControlName="postcode">

          <label>Straat en huisnummer</label>
          <input  class="form-control" placeholder="Straat en huisnummer" formControlName="street">

          <label>Wachtwoord</label>
          <input  class="form-control"  type="password" placeholder="wachtwoord" formControlName="password">

          <button class="btn btn-primary registration-button" [disabled]="!signupForm.valid" type="submit">
            <span>Registreer</span>
          </button>
      </form>
  </div>
</div>
