<div class="col-xs-12">
  <div class="row cart-content-header">
    <div class="col-xs-12 col-md-3">
      <h1>Winkelmandje</h1>
      <button (click)="deleteAll(userId)" type="button" class="btn btn-danger empty-cart">Leeg winkelmandje</button>
    </div>
    <div class="col-xs-12 col-md-5">
      <button (click)="payButton()" class="btn btn-primary Order-button" type="submit">
        <span>Afrekenen</span>
      </button>
    </div>
    <div class="col-xs-12 col-md-4">
      <ng-container *ngIf="total | async as totalObject">
        <div *ngFor="let objects of totalObject">
          <p class="totalprice-p">Totaal: {{objects.Totaalprijs}} €</p>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div *ngFor="let order of orders$ | async " class="col-xs-12">
    <div class="row">
      <figure class="shopping-cart">
        <div class="col-xs-12 col-md-2 shopping-cart-image">
          <img src="{{ order.image }}" alt="boeket" width="100%">
        </div>
        <div class="col-xs-12 col-md-6 shopping-cart-title">
          <h2>{{ order.title }}</h2>
          <div class="row">
            <div class="col-xs-6">
              <p class="quantity"> Aantal: {{ order.quantity }}</p>
            </div>
            <div class="col-xs-6">
              <button (click)="upQuantity(order.id)" class="button-up" mat-icon-button>
                <i class="material-icons">arrow_upward</i>
              </button>
              <button (click)="downQuantity(order.id, 2, order.quantity)" class="button-down" mat-icon-button>
                <i class="material-icons">arrow_downward</i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 shopping-cart-price">
          <p >{{ order.price * order.quantity | number:'1.2-2'}} €</p>
        </div>
        <button (click)="delete(order.id)" mat-icon-button>
          <mat-icon  color="warn">delete</mat-icon>
        </button>
      </figure>
    </div>
</div>
